.header {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  padding: 20px;
}

.dog1 {
  border: 3px solid forestgreen;
  background-color: lightgreen;
  padding: 8px;
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.cat1 {
  border: 3px solid forestgreen;
  background-color: lightgreen;
  padding: 8px;
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.bird {
  border: 3px solid forestgreen;
  background-color: lightgreen;
  padding: 8px;
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;
}